.App {
  min-height: 100vh;
  background-color: #282c34;
}



.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
  color: white;
}
